.list {
    list-style:none;
    margin-left:0;
}
.list li {
    margin:0;
    display:inline-block;
}
.list li:not(:last-child)::after {
    content:"\00a0/\00a0";
    display:inline-block;
    margin:0 5px;
    opacity:0.5
}

.list li:nth-child(odd) {
    color:#555555;

}
.skills {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}